body {
	background: #e0e0e0;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

/**
 * JSlider
 */
.jslider .jslider-value {
	box-shadow: 0 0 1px #d0d0d0;
}
.jslider .jslider-label span,
.jslider .jslider-value span {
	font-size: 13px;
}

#preview_cont {
	float: left;
}

#controls_cont {
	float: left;
	width: 250px;
	margin-left: 20px;
	visibility: hidden;
}
#controls_cont label {
	display: block;
	margin: 40px 0 12px 0;
}
#controls_cont label:first-child {
	margin-top: 20px;
}
#controls_cont input[type=text] {
	width: 100px;
}
#controls_cont input[type=checkbox] {
	width: 20px;
	text-align: left;
	margin: 45px 0 0 -2px;
}

#preview_frame {
	width: 540px;
	height: 360px;
	padding: 15px;
	background: #333 url(../img/spinner.gif) no-repeat center center;
	border-radius: 5px;
}

#canvas {
	margin: 0;
}
